<header>
  <h1>{{title}}</h1>
  {{#if clock}}
    <p id="clock">00:00:00</p> <!-- Add a placeholder for the clock -->
  {{/if}}
  <!--    <div class="search-bar">-->
  <!--      <input type="text" id="searchInput" placeholder="Search for projects...">-->
  <!--    </div>-->
</header>
{{#each sections}}
  <section>
    {{#if title}}
      <div class="block shrink">
        <h2>{{title}}:</h2>
      </div>
    {{/if}}
    {{#each blocks}}
      <div class="block">
        <h3>{{title}}</h3>
        {{> links_and_searchfields}}
        {{#each groups}}
          <div class="group">
            <h4>{{title}}</h4>
            {{> links_and_searchfields}}
          </div>
        {{/each}}

      </div>
    {{/each}}
  </section>
{{/each}}
<script>
    {{{inlineJs}}}
    {{#if clock}}
      {{{clockJs}}}
    {{/if}}
    {{{searchJs}}}
</script>

{{#*inline "links_and_searchfields"}}
  {{#if searchFields}}
    <div class="search-fields">
      {{#each searchFields}}
        <div class="search-field">
          <label>
            <input class="search-bar" type="text" placeholder="{{title}}"
                   data-url="{{href}}"/>
          </label>
        </div>
      {{/each}}
    </div>
  {{/if}}
  {{#if links}}
    <div class="links">
      {{#each links}}
        <p><a href="{{href}}">{{title}}</a></p>
      {{/each}}
    </div>
  {{/if}}
{{/inline}}

